@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main view setup*/
html {
  min-height: 100%;
  position: relative;
}

body{
  font-family: "Tilt Prism", sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  background-color: #131a58;
}

/* header  and footer */
h1 > span {
  background-color: purple; 
  height: 80px;
}

footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  min-height: 70px;
  padding-top: 5px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background-color: purple;
}
/* socre area */
.score-board {
  margin: 20px auto;
  border: 3px;
  border-radius: 7px;
  text-align: center;
  letter-spacing: 3px;
  width: 200px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

/* player and computer  badge styling */
.badge {
  background: purple;
}

#user-label {
  position: absolute;
  top: 0;
  left: -25px;
}

#computer-label {
  position: absolute;
  top: 0;
  right: -60px;
}

.result > p {
  font-size: 35px;
  margin-top: 30px;
}

/* images choice */

.choices {
  margin-top: 50px;
  text-align: center;
}

.choice {
  border-radius: 40%;
  margin: 10px 20px;
  padding: 10px;
  display: inline-block;
  transition: all 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  background: purple;
}

#action-message {
  font-size: 30px;
  margin-top: 20px;
}